.create-memory-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem auto 0 auto;
  padding: 2rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  max-width: 75%;
  font-family: "Courier New", Courier, monospace;
}

#memory-form-title {
  text-align: center;
  font-weight: bold;
  line-height: 2rem;
  margin: 0.5rem 0;
}

.file-drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(230, 230, 230);
  color: gray;
  cursor: pointer;
  text-align: center;
  height: 10rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.file-drop-zone:hover {
  background-color: rgb(210, 210, 210);
  border-color: rgb(90, 90, 90);
}

#memory-file {
  padding: 0.5rem 0;
  margin: 0;
  width: 100%;
}

#memory-title,
#memory-date,
#memory-description {
  padding: 0.5rem;
  background-color: rgb(230, 230, 230);
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

#memory-description {
  resize: none;
  height: 5rem;
}

#memory-title:hover,
#memory-date:hover,
#memory-description:hover {
  background-color: rgb(210, 210, 210);
}

#memory-title:focus,
#memory-date:focus,
#memory-description:focus {
  border-color: rgb(90, 90, 90);
  background-color: rgb(210, 210, 210);
}

#upload-button {
  padding: 0.5rem 1rem;
  color: rgb(40, 68, 134);
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 1rem;
  width: fit-content;
  margin: 1rem auto 0 auto;
}

#upload-button:hover {
  background-color: rgb(214, 214, 214);
  border-color: rgb(90, 90, 90);
  color: rgb(0, 23, 77);
  cursor: pointer;
}
