.navbar-container {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgb(105, 104, 104);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.25rem;
  border-bottom: 1px solid black;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    font-size: 1rem;
    padding: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar-container {
    font-size: 0.5rem;
    padding: 0.5rem;
  }
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-right: 0.25rem;
}

@media screen and (max-width: 480px) {
  .navbar-links {
    gap: 1rem;
  }
}

.navbar-link {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  background-color: rgb(148, 130, 130);
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.navbar-link:hover {
  background-color: black;
}

@media screen and (max-width: 480px) {
  .navbar-link {
    font-size: 0.6rem;
    padding: 0.3rem 0.6rem;
  }
}
