.filter-panels {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  padding: 0 2rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .filter-panels {
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }
}
