.user-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem auto 0 auto;
  padding: 2rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  max-width: 75%;
  font-family: "Courier New", Courier, monospace;
}

#user-form-title {
  text-align: center;
  font-weight: bold;
  line-height: 2rem;
  margin: 0.5rem 0;
}

#username,
#password {
  padding: 0.5rem;
  background-color: rgb(230, 230, 230);
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

#username:hover,
#password:hover {
  background-color: rgb(210, 210, 210);
}

#username:focus,
#password:focus {
  border-color: rgb(90, 90, 90);
  background-color: rgb(210, 210, 210);
}

#user-button {
  padding: 0.5rem 1rem;
  color: rgb(40, 68, 134);
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 1rem;
  width: fit-content;
  margin: 1rem auto 0 auto;
}

#user-button:hover {
  background-color: rgb(214, 214, 214);
  border-color: rgb(90, 90, 90);
  color: rgb(0, 23, 77);
  cursor: pointer;
}
